@import url('https://fonts.googleapis.com/css2?family=Piedra&display=swap');
@import './homePage.css';
@import './puzzleInfo.css';
@import './puzzleQuestion.css';
@import './puzzleBrick.css';

body {
  margin:0px;
  padding: 0px;
  background: linear-gradient(45deg, rgba(220,0,0,0.6),rgba(0,0,220,0.6)),url('https://pbs.twimg.com/media/DtgW3TwX4AEeMMr.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* app-header */
.app-header {
  width: 100%;
  height: 70px;
  display:flex;
  align-items: center;
  background: linear-gradient(45deg, rgba(20,20,20,0.3),rgba(5,5,5,0.5));
  padding: 0px 40px;
}

.app-header__title {
  font-size: 48px;
  font-family: 'Piedra',cursive;
  color: #fff;
  opacity: 0.8;
}

.app-header__title:hover {
  opacity: 1;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  transition: 0.7s;
}

/* To wrap the application */
.app-wrapper {
  height: calc(100vh - 70px);
}

/* Style for playground */
.playground {
  display: flex;
  margin: 0px 40px;
  height: 100%;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.5);
}

